<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Inicio</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
</head>
<body>

<nav class="navbar navbar-expand-lg bg-info" style="background-color: #e3f2fd;">
    <h1>PetHero</h1>
    <ul class="nav justify-content-end">
        <li class="nav-item">
            <a class="nav-link active" aria-current="page" th:href="@{/keeper/index}">Inicio</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" th:href="@{/keeper/editProfile}">Perfil</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" th:href="@{/logout}">Cerrar Sesión</a>
        </li>
    </ul>
</nav>

<br/>

<div class="container">
    <div class="row">
        <div class="col">
            <a class="card btn btn-light" th:href="@{/keeeper/services}">
                <div class="card-body">
                    <h5 class="card-title">Historial de servicios</h5>
                    <p class="card-text">Observe su historial de servicios aceptados, confirmados y realizados.</p>
                </div>
            </a>
        </div>
    </div>

    <br/>

    <div class="row">
        <div class="col">
            <a class="card btn btn-light" th:href="@{/pet/list}">
                <div class="card-body">
                    <h5 class="card-title">Solicitudes</h5>
                    <p class="card-text">Observe sus solicitudes de servicios.</p>
                </div>
            </a>
        </div>
    </div>
</div>

<footer style="position: fixed; width: 100%; bottom: 0;" class="bg-info text-white mt-3 p-3">
    <div class="container">
        <div class="col">
            <p class="lead text-center">
                Copyright &copy; PetHero - Catalina Liste
            </p>
        </div>
    </div>
</footer>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.min.js" integrity="sha384-cuYeSxntonz0PPNlHhBs68uyIAVpIIOZZ5JqeqvYYIcEL727kskC66kF92t6Xl2V" crossorigin="anonymous"></script>

</body>
</html>