<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Registrar mascota</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <link th:href="@{/css/main.css}" type="text/css" rel="stylesheet" />
</head>
<body>

  <nav class="navbar navbar-expand-lg bg-info" style="background-color: #e3f2fd;">
    <div class="container-fluid">
      <h1>PetHero</h1>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>
  </nav>

  <br/>

  <div class="container">
    <a class="btn btn-secondary" th:href="@{/owner/index}">Regresar</a>
  </div>

  <br/>

  <div class="container">
    <form th:action="@{/pet/savePet}" method="post" th:object="${pet}">

      <div class="card">
        <div class="card-header">
          <h1>Nueva mascota</h1>
        </div>
        <div class="card-body">
          <div class="container">
            <div style="display: flex; justify-content: space-evenly;">
              <div>
                <label>Mascota</label>
                <div class="form-check">
                  <input class="form-check-input" type="radio" name="type" value="Perro" id="radioDog" th:text="Perro" th:field="*{type}">
                </div>
                <script>
                  document.getElementById("radioDog").setAttribute("checked","checked");
                </script>

                <div class="form-check">
                  <input class="form-check-input" type="radio" name="type" value="Gato" id="radioCat"  th:text="Gato" th:field="*{type}">
                </div>

                <label>Raza</label>
                <select class="form-select" id="dogRace" name="raceDog" th:onchange="raceSelectedDog([[${dogBreeds}]])" required style="max-height: 40px; min-width: 400px;">
                  <option value=" " disabled selected>Raza</option>
                  <option th:each="breed : ${dogBreeds}" th:text="${breed.name}" th:value="${breed.name}"/>
                </select>

                <select class="form-select" id="catRace" name="raceCat" th:onchange="raceSelectedCat([[${catBreeds}]])" required style="display: none; max-height: 40px; min-width: 400px;">
                  <option value=" " disabled selected>Raza</option>
                  <option th:each="breed : ${catBreeds}" th:text="${breed.name}" th:value="${breed.name}"></option>
                </select>

                <label>Nombre</label>
                <input class="form-control" type="text" name="name" th:field="*{name}" required>

                <label>Año de nacimiento</label>
                <input class="form-control" type="number" name="birthdate" th:field="*{birthdate}" required>

                <label>Tamaño</label>
                <select class="form-select" name="size" th:field="*{petSize}" required>
                  <option value="" disabled selected>Tamaño</option>
                  <option value="Pequeño">Pequeño</option>
                  <option value="Mediano">Mediano</option>
                  <option value="Grande">Grande</option>
                </select>
              </div>

              <div>
                <img src="https://autumntrailsvet.com/wp-content/uploads/2022/06/what-are-similarities-between-cats-and-dogs.jpg" id="breedImage" class="rounded float-end new-pet-breed-image"/>
              </div>
            </div>


            <input hidden id="raceInput" value="" th:field="*{race}"/>
          </div>

          <br/>

          <div class="d-md-flex justify-content-md-end">
            <button class="btn btn-warning" type="submit">Siguiente</button>
          </div>
        </div>
      </div>
    </form>
  </div>

  <footer style="position: fixed; width: 100%; bottom: 0;" class="bg-info text-white mt-3 p-3">
    <div class="container">
      <div class="col">
        <p class="lead text-center">
          Copyright &copy; PetHero - Catalina Liste
        </p>
      </div>
    </div>
  </footer>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.min.js" integrity="sha384-cuYeSxntonz0PPNlHhBs68uyIAVpIIOZZ5JqeqvYYIcEL727kskC66kF92t6Xl2V" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.2.1/axios.min.js"></script>
  <script th:src="@{/js/petRaceSelector.js}"></script>

  </body>
</html>